@charset "utf-8";
@import "normalize";
/*utils*/
@import
  "utils/colors",
  "utils/variables";
/*base*/
@import 
  "base/base",
  "base/forms",
  "base/containers",
  "base/headers";
/*components*/
@import
  "components/buttons",
  "components/logos",
  "components/icons",
  "components/sections",
  "components/backgrounds",
  "components/titles",
  "components/footer";
/*layout*/
@import
  "layout/main_nav";

body
 {
  background: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  min-width: 320px;
  text-align: center;
  width: 100%;
}

ul, li {
  text-decoration: none !important;
  list-style-type: none;
}
