<div class="footer">
  <div class="footer__social-container">
    <div class="footer__contact">
      <%= link_to "/contact us","#" %>
      <%= link_to "/support", "#" %>
      <%= link_to "/about us", "#" %>
    </div>
    <div class="footer__social-media">
      <label class="white-text">/follow us</label>
      <div class="icon-facebook"></div>
      <div class="icon-twitter"></div>
      <div class="icon-gplus"></div>
    </div>
  </div>
  <div class="footer__disclaimer-container">
    <div class="footer__disclaimer">
      <label class="disclaimer">© 2015 All Rights Reserved.</label>
      <label class="disclaimer">Designed by MagmaLabs. Powered by Spree.</label>
    </div>
    <div class="footer__logo-voltio">
      <div class="logo-voltio-white"></div>
    </div>
  </div>
</div>
