.btn-normal {
  width: 440px;
  height: 55px;
  background-color: #ffffff;
  border: solid 0.5px #b4b4b4;
}

.btn-search {
  background: image_url('HOME_sprite.png')  no-repeat -198px -245px;
  border: none;
  height: 32px;
  padding: 10px;
  width: 32px;
}
