.btn-normal {
  background-color: white;
  border: solid 0.5px $nobel;
  color: $redOrange;
  display: block;
  font-family: 'Oswald', sans-serif;
  text-align: center;

  &:hover {
    @extend .btn-hover;
  }
}

.btn-secondary {
  background-color: $redOrange;
  border: none;
  color: white;
  display: block;
  font-family: 'Oswald', sans-serif;
  text-align: center;

  &:hover {
    @extend .btn-hover;
  }
}

.btn-hover {
  background-color: $nobel;
  border: solid 2px white;
  color: white;
  display: block;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.btn-red-border {
  background-color: white;
  border: solid 1.5px $redOrange;
  color: $redOrange;
  display: block;
  font-family: 'Oswald', sans-serif;
  text-align: center;

  &:hover {
    @extend .btn-hover;
  }
}

.btn-big {
  @media screen and(min-width: $desktop){
    font-size: 33px;
    height: 55px;
    width: 440px;
  }

  @media screen and(max-width: $desktop){
    font-size: 25px;
    height: 45px;
    width: 310px;
  }

  @media screen and(max-width: $tablet){
    font-size: 20px;
    height: 40px;
    width: 195px;
  }

  @media screen and(max-width: $mobile){
    font-size: 23px;
    height: 40px;
    width: 250px;
  }
}

.btn-medium {
  @media screen and(min-width: $desktop){
    font-size: 33px;
    height: 55px;
    width: 325px;
  }

  @media screen and(max-width: $desktop){
    font-size: 25px;
    height: 45px;
    width: 225px;
  }

  @media screen and(max-width: $tablet){
    font-size: 20px;
    height: 40px;
    width: 145px;
  }
}

.btn-hide {
  @media screen and(max-width: $mobile){
    display: none;
  }
}

.btn-search {
  background: image_url('HOME_sprite.png')  no-repeat -198px -245px;
  border: none;
  height: 32px;
  padding: 10px;
  width: 32px;
}

#btn-build-your-office {
  @extend .btn-normal, .btn-big, .btn-hide;
  @media screen and(min-width: $desktop){
    margin: 30px auto 0;
  }

  @media screen and(max-width: $desktop){
    margin: 45px auto 0;
  }

  @media screen and(max-width: $tablet){
    margin: 24px auto 0;
  }
}

#btn-smartphones {
  @extend .btn-normal, .btn-medium, .btn-hide;
  @media screen and(min-width: $desktop){
    margin: 89px auto 0;
  }

  @media screen and(max-width: $desktop){
    margin: 44px auto 0;
  }

  @media screen and(max-width: $tablet){
    margin: 24px auto 0;
  }
}

#btn-headphones {
  @extend .btn-normal, .btn-medium, .btn-hide;
  @media screen and(min-width: $desktop){
    margin: 180px auto 0;
  }

  @media screen and(max-width: $desktop){
    margin: 110px auto 0;
  }

  @media screen and(max-width: $tablet){
    margin: 50px auto 0;
  }
}

.btn-suscribe {
  @extend .btn-secondary, .btn-medium;
  display: inline;
}

