.icon-notifications {
  color: $redOrange;
}

.icon-shopping-bag {
  background: image_url('HOME_sprite.png')  no-repeat -70px -244px;
  display: inline;
  height: 32px;
  padding: 15px;
  width: 20px;
}

.icon-burguer {
  background: image_url('HOME_sprite.png')  no-repeat -113px -421px;
  border: none;
  height: 30px;
  width: 32px;

  @media screen and(min-width: $navbarBreakpoint){
    display: none;
  }
  @media screen and(max-width: $navbarBreakpoint){
    display: inline-block;
    float: left;
    margin-top: 10px;
  }
}

.icon-facebook {
  background: image_url('HOME_sprite.png')  no-repeat -152px -344px;
  height: 23px;
  width: 25px;
}

.icon-twitter {
  background: image_url('HOME_sprite.png')  no-repeat -212px -344px;
  height: 23px;
  width: 25px;
}

.icon-gplus {
  background: image_url('HOME_sprite.png')  no-repeat -269px -344px;
  height: 23px;
  width: 25px;
}
