.logo-voltio {
  background: image_url('HOME_sprite.png')  no-repeat -143px -50px;
  border: none;
  display: inline-block;
  float: left;
  height: 42px;
  margin-top: 5px;
  width: 158px;

  @media screen and(max-width: $navbarBreakpoint){
    background: image_url('HOME_sprite.png')  no-repeat -205px -417px;
    float: none;
    margin-left: 30px;
    margin-top: 10px;
    width: 128px;
  }
}

.logo-voltio-white {
  background: image_url('HOME_sprite.png')  no-repeat -172px -155px;
  width: 105px;
  height: 25px;

  @media screen and(max-width: $tablet){
    margin: 0 auto;
  }
}
