.logo-voltio {
  background: image_url('HOME_sprite.png')  no-repeat -143px -50px;
  border: none;
  display: inline-block;
  float: left;
  height: 32px;
  padding: 10px;
  width: 150px;

  @media screen and(max-width: $navbarBreakpoint){
    background: image_url('HOME_sprite.png')  no-repeat -205px -417px;
    float: none;
    margin-left: 40px;
    margin-top: 7px;
    width: 110px;
  }
}
