.input-search {
  height: 25px !important;
  margin-right: 16px;
  margin-top: 2px;
  width: 145px;

  @media screen and (max-width: $navbarBreakpoint){
    width: 85%;
  }

  @media screen and (max-width: $mobile){
    width: 80%;
  }
}

.input-text-newsletter {
  border: 0;
  height: 45px !important;
  margin-bottom: 10px;
  padding: 0;

  @media screen and (min-width: $desktop) {
    width: 325px !important;
  }
  @media screen and(max-width: $desktop){
    width: 225px !important;
  }

  @media screen and(max-width: $tablet){

  }

  @media screen and(max-width: $mobile){
  
  }
}