.header {
  background-color: white;
  height: 60px;
  width: 100%;

  li {
    display: inline;
  }
  a {
    display: inline;
    color: $mineShaft;
  }
}

.header-login {
  display: inline;
  float: right;
  margin-top: 25px;
  width: 220px;

  @media screen and (max-width: $navbarBreakpoint){
    width: 65px;
  }

  a {
    display: inline;
    color: $mineShaft;
    padding: 10px;

    @media screen and (max-width: $navbarBreakpoint){
      display: none;
    }
  }

  li {
    display: inline;
  }
}