---
title: Welcome to Middleman
elements:
  - btn-normal
  - btn-secondary
  - btn-hover
  - btn-red-border
---

<div class="welcome">
  <div class="section__wrapper">
    <div class="section__build-your-office-wrap background__build-your-office">
      <div class="section__build-your-office">
        <h2 class="title__principal title__principal-white" id="title__build-your-office">Build your own office</h2>
        <h3 class="title__secondary title__secondary-white">With the best brands & prices</h3>
        <a id="btn-build-your-office">See details></a>
      </div>
    </div>
    <div class="section__recycle">
      <div class="section__recycle-message">
        <h3 class="title__secondary title__secondary-black">Recycle your old devices and</h3>
        <h2 class="title__principal title__principal-black" id="title__recycle">Get 10% off</h2>
        <h3 class="title__secondary title__secondary-black">in your next purchase</h3>
      </div>
      <div class="section__recycle-wrap background__recycle"></div>
    </div>
    <div class="section__smartphones-headphones-wrap">
      <div class="section__smartphones-wrap background__smartphones">
        <div class="section__smartphones">
          <h2 class="title__principal title__principal-white" id="title__smartphones">Smartphones</h2>
          <h3 class="title__secondary title__secondary-white">Connect your world</h3>
          <a id="btn-smartphones" >See details></a>
        </div>
      </div>
      <div class="section__headphones-wrap background__headphones">
        <div class="section__headphones">
          <h2 class="title__principal title__principal-white" id="title__headphones">Headphones</h2>
          <h3 class="title__secondary title__secondary-white">High quality audio</h3>
          <a id="btn-headphones" >See details></a>
        </div>
      </div>
    </div>
    <div class="section__newsletter">
    <div class="section__newsletter-message">
      <div class="icon-newsletter"></div>
      <p class="big-white-text">/suscribe to recieve the latest deals, news and suggestions from our newsletter</p>
    </div>
    <div class="section__newsletter-form">
      <form>
        <div class="container__textbox-search">
          <input type="text" placeholder="_email" class="input-text-newsletter" >
          <input type="submit" class="btn-suscribe" value="Suscribe>">
        </div>
      </form>
    </div>
  </div>
  <div class="section__featured-products">
    <h2 id="title__featured-products">/featured products</h2>
    <div>
      <div class="featured-product-container">
        <div><%= image_tag('voltio-cel01.png', class: 'voltio-cel01')%>
          <div class="featured-product-description">
            <h3 class="title__product-description">Phone-5124A</h3>
            <h4 class="title__product-price">$123.99</h4>
          </div>
          <button class="see-details">See details ></button>
        </div>
      </div>
      <div class="featured-product-container">
        <div><%= image_tag('voltio-cel01.png', class: 'voltio-cel01')%>
          <div class="featured-product-description">
            <h3 class="title__product-description">Phone-5124A</h3>
            <h4 class="title__product-price">$123.99</h4>
          </div>
          <button class="see-details">See details ></button>
        </div>
      </div>
      <div class="featured-product-container">
        <div><%= image_tag('voltio-cel01.png', class: 'voltio-cel01')%>
          <div class="featured-product-description">
            <h3 class="title__product-description">Phone-5124A</h3>
            <h4 class="title__product-price">$123.99</h4>
          </div>
          <button class="see-details">See details ></button>
        </div>
      </div>
      <div class="featured-product-container">
        <div><%= image_tag('voltio-cel01.png', class: 'voltio-cel01')%>
          <div class="featured-product-description">
            <h3 class="title__product-description">Phone-5124A</h3>
            <h4 class="title__product-price">$123.99</h4>
          </div>
          <button class="see-details">See details ></button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>