---
title: Welcome to Middleman
elements:
  - btn-normal
  - btn-secondary
  - btn-hover
  - btn-red-border
---

<div class="welcome">
  <div class="section__wrapper">
    <div class="logo">
      <%= image_tag "middleman-logo.svg" %>
    </div>
    <h1>Middleman is Running</h1>
      <% current_page.data.elements.each do |f| %>
      <button class='<%= f %> btn-big' ><%= f %></button>
      <% end %>
  </div>
</div><!-- .welcome -->