---
title: Welcome to Middleman
elements:
  - one
  - two
  - three
---

<div class="welcome to MIDDLEMAN">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>MIDDLEMAN is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
  <ul>
    <% current_page.data.elements.each do |f| %>
    <li><%= f %></li>
    <% end %>
  </ul>
</div><!-- .welcome -->
