<div class="section__wrapper">
  <div class="section-pdp">
    <h2>The world at the palm of your hand</h2>
  </div>
  <div>/home/categories/phone512A</div>
  <div>
    <div>
      <h3>Phone512A</h3>
      <div class="image"></div>
      <div>
        <p>
          4-inch (diagonal) LED-backlit widescreen Multi‑Touch display with IPS technology. 1136-by-640-pixel resolution at 326 ppi. 800:1 contrast ratio (typical) 500 cd/m2 max brightness (typical) Full sRGB standard Fingerprint-resistant oleophobic coating on front
        </p>
        <p>
          A7 chip with 64-bit architecture M7 motion coprocessor
        </p>
        <p>
          Built-in rechargeable lithium-ion battery Charging via USB to computer system or power adapter
        </p>
      </div>
    </div>
    <div class="section-pdp-description">
      <div>
        <form>
          <div class="container__dropdown-add-to-cart">
            <select>
              <option value="1">124</option>
              <option value="2">248</option>
              <option value="3">472</option>
              <option value="4">596</option>
            </select>
          </div>
          <div class="container__btn-add-to-cart">
            <input type="submit" class="btn-search" value="">
          </div>
        </form>
      </div>
      <div class="images"></div>
      <div>
        <p> 
          8 megapixels with 1.5µ pixels ƒ/2.2 aperture Sapphire crystal lens cover True Tone flash Backside illumination sensor Five-element lens
        </p>
        <p>
          Height: 4.87 inches (123.8 mm) Width: 2.31 inches (58.6 mm) Depth: 0.30 inch (7.6 mm) Weight: 3.95 ounces (112 grams)
        </p>
      </div>
    </div>
  </div>
</div>